.W-Second button,
.W-Third button {
  height: 28px;
  width: 28px;
  display: grid;
  align-items: center;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  outline:none;
  border: 1px solid white;
  color: #020929;
}
.W-Second select,
.W-Third select {
  padding: 7px;
  border: 1px solid #020929;
  border-radius: 4px;
}
.W-Second .options label,
.W-Second .options select,
.W-Third .options label,
.W-Third .options select {
  font-family: "Poppins", sans-serif;
}
.input-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}
.W-Second input[type="color"],
.W-Third input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 30px;
  height: 26px;
  border: none;
  cursor: pointer;
}
.W-Second input[type="color"]::-webkit-color-swatch,
.W-Third input[type="color"]::-webkit-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px black;
}
.W-Second input[type="color"]::-moz-color-swatch,
.W-Third input[type="color"]::-moz-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}
.W-Second #text-input1 ,
.W-Third #text-input2 {
  margin-top: 10px;
  min-height:300px;
  border: none;
  outline:none;
  margin-bottom:20px;
}
.W-Second .active,
.W-Third .active {
  background-color: #e0e9ff;
}

.week1-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center; 
}